*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}
header {
    height: 100vh;
    width: 100vw;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: auto;
    justify-content: center;
}
header .navbar li{
    margin-right: 20px;
}
header .navbar li a:hover{
    color: #ddd;
}
.navbar{
    background-color: rgb(51,51,51);
    display:flex;
    padding: 20px 20px;
    width: 100%;
    align-items: center;
    vertical-align: auto;
    justify-content: space-between;
}
.logo {
    text-decoration: none;
    color: white;
}
.links {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
}
.img {
    background: url("https://koa.com/blog/images/family-camping-at-sunset.jpg?preset=heroimagecropped");
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100vw;
    background-position: center;
    
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img .content h1 {
    font-size: 60px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}
.img .content p{
    font-size: 20px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}
.img .content button{
    border: white;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 10px;
}
.our-Services {
    display: flex;
    flex-direction: column;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    box-shadow: 2px 2px #ddd;
    align-items: center;
    margin: 30px;
    background: #fff;
}

.cards .card img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    margin: 50px;
}
.cards .card h2, p {
    margin: 10px;
    display: flex;
    align-items: center;
}


.about-details{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.third-second {
    margin: auto;
    height: 100vh;
    width: 100vw;
}
.contact_details1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}
.contact_details li {
    list-style: none;
}
.contact_details{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    width: 90vw;
}
.contact_details button {
    border:#ddd;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 10px;
}
.about_details{
    padding: 90px;
}
.about_details li{
    list-style:none;
}